/* Style version statique My-Bee-Notebook 
PAGE : CONCEPT */

/* Reset */
html{
    margin: 0;
    padding: 0;
   }
      
   /* Charte graphique 
   Google fonts : "pacifico", cursive;
                  "comfortaa", cursive;
   
   Couleurs : jaune or métallique      #e2b415
              marron chamoisée         #bb8a69
              vert foncé cal poly vert #145619
              bleu clair alice bleu    #e4ecf1
              gris foncé charbon       #243B4A
   */
   
   /* Global */
   h1{
     font-family: "pacifico", cursive;
     color: #243B4A;
     font-size: 50px;
   }
   h2{
       font-family: "pacifico", cursive;
       font-size: 35px;
   }  
   p{
       font-family: "comfortaa", cursive;
       font-size:large;
   } 
   h3{
       font-family: "comfortaa", cursive;
       color: #e2b415;
       text-decoration: underline;
   }
   h4{
       font-family: "comfortaa", cursive;
       color: #e2b415;
   }
   
   /* HEADER */
   nav{
       background-color: #243B4A;
   }
   .logo{
       width: 12%;
   }
   .navbar p{
       font-family: "pacifico", cursive;
       color: #e2b415;
       font-size: x-large;
   }
   .navbar a{
       font-family: "comfortaa", cursive;
       color: #e2b415;
       font-size:x-large;
   }
   button:hover{
    background-color:#243B4A;
    color: #e2b415 ;
    border-radius: 20px 5px 20px 5px;
    box-shadow: 5px 5px 5px #243B4A;
}
    /* MAIN */
   #banniere{
    background-image: url(./ressources/banniere-ou-trouver-des-ruches-png.png.webp);
    height: 120vh;
    background-position: top;
    background-size: cover; 
   }
    #banniere h1{
        padding-top: 80vh;
    }

      
   /* RUCHER */
   #ruchers{
       background-color: #243B4A;
       padding: 20px;
       width: auto;
       
   }
   #ruchers h2{
       color: #e2b415;
       margin-bottom: 30px;
   }   
   #ruchers img{
       width: 20%;
   }
   #ruchers p{
       color: #e2b415;
   }
   .square-text{
       text-align: justify;
       text-justify: inter-word;
       width: 30%;
   }
   .square-text p{
       font-size: larger;
   }
   .square-beehive{
       box-shadow:0px 0px 6px #e2b415;
       margin-left: 10px;
   }
      
   /* FOOTER */
   /* Logo */
   #logo{
       background-color: #e2b415;
   }
   /* Logo */
   #mentions{
       background-color: #243B4A;
       color: #e2b415;
       font-size: medium;
   }
   
   /* MEDIA QUERIES */
   
   @media screen and (max-width:1280px)
   {
       .square-text{
           text-align: justify;
           text-justify: inter-word;
           width: 100%;
           order: 0;
       }
       .container-objects{
           flex-direction: column-reverse;
       }
       
       #logo img{
           width: 30%;
       }
   
   }
   
   