/* Style version statique My-Bee-Notebook 
PAGE : CONTACT */

/* Reset */
html {
    margin: 0;
    padding: 0;
}


/* Charte graphique 
   Google fonts : "pacifico", cursive;
                  "comfortaa", cursive;
   
   Couleurs : jaune or métallique      #e2b415
              marron chamoisée         #bb8a69
              vert foncé cal poly vert #145619
              bleu clair alice bleu    #e4ecf1
              gris foncé charbon       #243B4A
   */

/* Global */
h1 {
    font-family: "pacifico", cursive;
    color: #243B4A;
    font-size: 50px;
}

h2 {
    font-family: "pacifico", cursive;
    font-size: 35px;
    color: #243B4A;
}

h3 {
    font-family: "comfortaa", cursive;
    color: #e2b415;
    text-decoration: underline;
}

h4 {
    font-family: "comfortaa", cursive;
    color: #e2b415;
}

p {
    font-family: "comfortaa", cursive;
    font-size: large;
}

/* HEADER */
nav {
    background-color: #243B4A;
}

.logo {
    width: 12%;
}

.navbar p {
    font-family: "pacifico", cursive;
    color: #e2b415;
    font-size: x-large;
}

.navbar a {
    font-family: "comfortaa", cursive;
    color: #e2b415;
    font-size: x-large;
}

button:hover {
    background-color: #243B4A;
    color: #e2b415;
    border-radius: 20px 5px 20px 5px;
    box-shadow: 5px 5px 5px #243B4A;
}

/* MAIN */
#banniere {
    background-image: url(./ressources/apiculteur-au-telephone.jpg);
    height: 120vh;
    background-position: top;
    background-size: cover;
}

#banniere h1 {
    padding-top: 80vh;
}

form {
    height: 80vh;
    margin-left: 30px;
    
}
.formulaire{
    width: 80vw;
    font-family: "comfortaa", cursive;
}
.envoi{
    border-radius: 20px 5px 20px 5px;
    box-shadow: 5px 5px 5px #243B4A;
    padding: 15px;
}
address {
    font-size: larger;
    margin-top: 30px;
    
}




/* FOOTER */
/* Logo */
#logo {
    background-color: #e2b415;
}

/* Logo */
#mentions {
    background-color: #243B4A;
    color: #e2b415;
    font-size: medium;
}

/* MEDIA QUERIES */

@media screen and (max-width:1280px) {
    #logo img {
        width: 30%;
    }

}