/* Style version statique My-Bee-Notebook */

/* Reset */
html{
 margin: 0;
 padding: 0;
}


/* Charte graphique 
Google fonts : "pacifico", cursive;
               "comfortaa", cursive;

Couleurs : jaune or métallique      #e2b415
           marron chamoisée         #bb8a69
           vert foncé cal poly vert #145619
           bleu clair alice bleu    #e4ecf1
           gris foncé charbon       #243B4A
*/

/* Global */
h2{
    font-family: "pacifico", cursive;
    font-size: 35px;
}  
p{
    font-family: "comfortaa", cursive;
    font-size:large;
} 
h3{
    font-family: "comfortaa", cursive;
    color: #e2b415;
    text-decoration: underline;
}
h4{
    font-family: "comfortaa", cursive;
    color: #e2b415;
}

/* HEADER */
nav{
    background-color: #243B4A;
}
.logo{
    width: 12%;
}
.navbar p{
    font-family: "pacifico", cursive;
    color: #e2b415;
    font-size: x-large;
}
.navbar a{
    font-family: "comfortaa", cursive;
    color: #e2b415;
    font-size:x-large;
}

    
/* ACCUEIL */

#accueil{
background-image:url(./ressources/image-abeille-lavande-web.jpg);
height: 130vh;
background-position: left;
background-size: cover;

}

h1{
    font-family: "pacifico", cursive;
    color: #243B4A;
    padding-bottom: 40px;
    font-size:45px;
}
#accueil p{
    font-family: "comfortaa", cursive;
    color: #243B4A;
    font-size: large;
    font-weight: 800;
}
button{
    text-decoration: none;
    background-color: #e2b415;
    color: #243B4A ;
    border-radius: 20px 5px 20px 5px;
    padding: 15px;
    font-size: larger;
    font-weight: 1000;
    font-family: "comfortaa", cursive;
    margin-right: 65px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px #243B4A;
    transition: 1s;
}
button:hover{
    background-color:#243B4A;
    color: #e2b415 ;
    border-radius: 20px 5px 20px 5px;
    box-shadow: 5px 5px 5px #243B4A;
}

/* RUCHER */
#ruchers{
    background-color: #243B4A;
    padding: 20px;
    width: auto;
}
#ruchers h2{
    color: #e2b415;
    margin-bottom: 30px;
}   
#ruchers img{
    width: 20%;
}
#ruchers p{
    color: #e2b415;
}
.square-text{
    text-align: justify;
    text-justify: inter-word;
    width: 30%;
}
.square-text p{
    font-size: larger;
}
.square-beehive{
    box-shadow:0px 0px 6px #e2b415;
    margin-left: 10px;
}


/* AVANTAGES */

#avantages h2{
    color: #243B4A;
    margin-bottom: 30px;
}
#avantages{
    background-color: #e4ecf1;
    padding: 30px;
}
#avantages button{
    background-color: #e4ecf1;
    box-shadow: none;
}
.carousel-control-prev-icon{
    background-color: #243B4A;
}
.carousel-control-next-icon{
    background-color: #243B4A;
}
#avantages img{
    width: 20vw;
    padding:30px;
}
#avantages p{
    color: #243B4A;
    font-weight: 900;
    font-size:large;
}
/* FOOTER */
/* Logo */
#logo{
    background-color: #e2b415;
}
/* Logo */
#mentions{
    background-color: #243B4A;
    color: #e2b415;
    font-size: medium;
}

/* MEDIA QUERIES */

@media screen and (max-width:1280px)
{
    .square-text{
        text-align: justify;
        text-justify: inter-word;
        width: 100%;
        order: 0;
    }
    .container-objects{
        flex-direction: column-reverse;
    }
    #avantages img{
        width: 40vw;
        padding:30px;
    }
    #avantages button{
        opacity:1;
    }
    .carousel-control-next{
        margin-right: 0;
    }
    #logo img{
        width: 30%;
    }

}

